.button,
.primary {
  display: inline-flex;
  padding: 0.5rem 1rem;
  align-items: center;
  border-radius: 0.375rem;
  font-size: 16px;
  border: none;
  width: fit-content;
  color: #ffffff;
  background-color: #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &.primary {
    background-color: #059669;

    &:hover {
      background-color: #1ec691;
    }

    &:active {
      background-color: #2f9675;
    }
  }

  &.secondary {
    background-color: #4f46e5;

    &:hover {
      background-color: #524e94;
    }
  }

  &:hover {
    background-color: #1ec691;
  }

  &:active {
    background-color: #2f9675;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
  }
}
