.cell {
  &__wall {
    background-color: #423f3f !important;
  }

  &__start {
    background-color: #ec4343 !important;
  }

  &__finish {
    background-color: #5fd055 !important;
  }

  &__path {
    background-color: #357ae1 !important;
  }

  &__visited {
    background-color: #aad1a6 !important;
  }
}
