.grid {
  flex: 1;
  display: flex;
  justify-items: center;
  align-items: center;
}

.grid__container {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.grid__row {
  min-width: 100%;
  display: flex;
}

.grid__cell {
  background-color: #fff;
  flex-grow: 1;
  height: 15px;
  border: 1px solid #000;
  cursor: pointer;
  transition: background-color 0.2s;
}

.grid__cell:hover {
  background-color: #ccc;
}
