.display {
  background-color: #ae9e9e;

  &__container {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
  }

  &__time {
  }

  &__error {
  }
}
